<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <%-include('../include/head')%>
</head>
<body>
    <%-include('../include/nav')%>
    <div class="container white mt-70">
        <div class="grid">
            <div class="row-100">
                <div class="px-20">

                </div>
            </div>
        </div>
    </div>
    <%-include('../include/footer')%>
</body>
</html>