<html>
    <head>
        <title>Installaion | SunnyFW</title>
        <%- include('include/head-scripts')%>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Sunny-Framework Installation</div>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('../include/body-scripts')%>
    </body>
</html>