<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <%-include('include/head')%>
</head>
<body>
    <%-include('include/nav')%>
    <div class="container white mt-70">
        <div class="grid">
            <div class="row-70">
                <div class="px-20">
                    <h1 class="bl-red">About</h1>
                </div>
            </div>
            <div class="row-30">
                <ul class="list">
                    <a href=""><li>News</li></a>
                </ul>
            </div>
        </div>
    </div>
    <%-include('include/footer')%>
</body>
</html>