<!DOCTYPE html>
<html>
<head>
    <title>Default Pages | Sunny-Framework</title>
    <%-include('include/head')%>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <%-include('include/nav')%>
    <br>
    <div class="container card white rounded p-20" id="mainpage">
        <h1>This is a default page of Sunny-Framework.</h1>
        <p>if contents were added to the databases. Home page will be change.</p>
    </div>
</body>
</html>