<footer class="text-muted bg-light">
    <div class="container py-4">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Powered by Sunny-Framework</p>
    </div>
</footer>