<div class="nav blacker">
  <div class="container">
    <div class="grid">
      <button class="btn transparent text-white" id="collapse-btn" style="height: 52px;" onclick="collapse();"><i class="fa-solid fa-bars"></i></button>
      <ul class="px-10" id="collapse">
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <li class="dropdown" onclick="showhide(this)">
          Pages
          <ul>
              <a href="/articles"><li>Articles</li></a>
          </ul>
        </li>
        <%if(locals.is_admin == true) {%>
          <li class="dropdown" onclick="showhide(this)">
              Admin
              <ul>
                  <a href="/admin"><li>Dashboard</li></a>
                  <a href="/admin/logout"><li>Logout</li></a>
              </ul>
          </li>
        <%}%>
      </ul>
    </div>
  </div>
</div>